.wp-block-pandora-timeline {
    .pandora-timeline {
        display: flex;
        flex-direction: column;
        gap: var(--item-gap, 30px);
        align-items: stretch;
        position: relative
    }
}
