.wp-block-button.pandora-icon-button {
    .wp-block-button__link {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        gap: var(--pandora-icon-gap, 12px) !important;

        &.has-text-align-left {
            justify-content: flex-start !important;
        }

        &.has-text-align-center {
            justify-content: center !important;
        }

        &.has-text-align-right {
            justify-content: flex-end !important;
        }

        .pandora-icon-button-svg {
            flex-shrink: 0;
            pointer-events: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--pandora-icon-bg-color, transparent);
            padding: var(--pandora-icon-padding, 0);
            border-radius: 50%;

            svg {
                width: var(--pandora-icon-size, 1em);
                height: var(--pandora-icon-size, 1em);
                fill: currentColor;
            }
        }
    }

    &.pandora-icon-before {
        .wp-block-button__link {
            flex-direction: row-reverse;
        }
    }
}
